
* {
    box-sizing: border-box;
  }
  


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .header-top {
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    width: 100%;
  }
  
  .first-nav {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 24px;
    color: black;
    height: 64px;
    box-shadow: 0 .375rem 1.5rem 0 rgba(140, 152, 164, .13);
  }
  
  .header-top .imagem-geração {
    height: 40px;
    width: auto;
  }
  
  .header-top nav ul {
    display: flex;
    gap: 24px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .header-top nav li {
    height: 100%;
    display: flex; /* Isso garante que o li acompanhe a altura */
  }
  
  .header-top nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 16px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: background-color 0.2s ease-in-out;
  }
  
  .header-top nav a:hover {
    background-color: #F2F3F7;
  }
  
  .second-nav {
    background-color: #1A4B7A;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    padding: 0;
    position: sticky; /* opcional: fixa no topo */
    top: 64px;         /* ajusta caso tenha outra barra fixa acima */
    z-index: 30;
  }
  
  .nav-lista {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 5rem;
  }
  
  .nav-item {
    color: white;
    font-weight: 500;
    padding: 1rem 1.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* .nav-item.ativo {
    font-weight: 700;
    background-color: #14365E;
  } */
  
  .nav-item.ativo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
  }
  
  .first-nav,
  .second-nav {
    min-height: 50px;
  }
  
  .header-top .first-nav,
  .second-nav {
    width: 100%;
    min-height: 55px; /* garantir que ambas tenham a mesma altura */
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
  }