* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hamburguer-button {
    border-radius: 200px;
    background-color: #203969;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 14px;
    padding-left: 10px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  padding: 1rem;
  transition: transform 0.3s;
    cursor: pointer;
    position: fixed;
    top: 120px;
    left: -16px;
    width: 60px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburguer-button:hover {
    transform: translateX(0.75rem); 
    cursor: pointer;
}